@font-face {
    font-family: Institute;
    src: url("lt_institute.otf");
}

body{
    background-image: url(imagenes/fondo.png);
    font-family: Institute;
    background-size: cover;
}

h1{
    font-size: clamp(2rem, 6vw, 70px);
    margin-left: 5%;
}

.titulo{
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
}

#navbar{
    position: fixed;
    width: 100%;
    left: 0;
    justify-content: space-between;
    overflow: hidden;
    background: #000;
    background: linear-gradient(90deg, red 0%, white 100%);
    align-items: center;
    display: flex;
    padding: 0.1% 10%;
    top: 0;
    z-index: 10000;
}
#navbar a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    padding-left: 32%;
}

.icon_table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 6% auto;
    margin-left: 8%;
    width: 90%;
}

.icon_table td {
    width: 100%;
    height: auto;
    text-align: center;
}

.icon_table img {
    width: 70%;
}

.lugimg{
    content: url("imagenes/lugares.png");
    width: 70%;
}

.gasimg{
    content: url("imagenes/gastronomia.png");
}

.lugimg:hover{
    cursor: pointer;
    content: url("imagenes/turismo_hover.png");
    width: 70%;
}

.gasimg:hover{
    cursor: pointer;
    content: url("imagenes/gastro_hover.png");
    width: 70%;
}

.hisimg:hover{
    cursor: pointer;
    content: url("imagenes/historia_hover.png");
    width: 70%;
}

.geoimg:hover{
    cursor: pointer;
    content: url("imagenes/geo_hover.png");
    width: 70%;
}

.intro{
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    color: #000;
}

.separator{
    margin-bottom: 200px;
}

.cuy{
    width: 200px;
    height: auto;
}

@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        padding: 1rem;
    }

    #navbar a {
        padding: 0.5rem 0;
    }

    .infoDer,
    .infoIzq {
        flex-direction: column;
        text-align: center;
    }

    .infoImg {
        width: 80%;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .introText {
        font-size: 1.2rem;
    }

    .intro{
        margin-top: 10%;
    }

    .icon_table {
        grid-template-columns: repeat(2, 1fr); /* Ahora 2 columnas */
    }
}

@media (max-width: 480px) {
    .icon_table {
        grid-template-columns: 1fr;
    }
    
    .intro{
        margin-top: 15%;
    }
}